<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  syntaxCheck="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
  <filter>
    <whitelist>
      <directory suffix=".php">../src/mg/PAMI</directory>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="Client">
      <directory suffix=".php">client</directory>
    </testsuite>
    <testsuite name="Autoloader">
      <directory suffix=".php">autoloader</directory>
    </testsuite>
    <testsuite name="Actions">
      <directory suffix=".php">actions</directory>
    </testsuite>
    <testsuite name="Events">
      <directory suffix=".php">events</directory>
    </testsuite>
  </testsuites>
</phpunit>
