zend_extension=/usr/php/lib/php/extensions/no-debug-non-zts-20100525/xdebug.so
xdebug.auto_trace = On
xdebug.cli_color = 1


[PHP]
error_reporting  =  E_ALL 
display_errors = On
display_startup_errors = On
log_errors = On
report_memleaks = On
allow_url_fopen = On
allow_url_include = On
safe_mode = Off
memory_limit = 1024M
short_open_tag = Off

[Date]
date.timezone = America/Buenos_Aires

phar.readonly=false
